.checkbox-mw {
  width: 25px;
  height: 25px;
  text-align: center;
  border: 1px solid black;
  color: #69ca62;
  background-color: #eaead1;
  line-height: 1.5;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.checkbox-mw  img{
  margin-top: 2px;
}

.isPressed {
  background-color: rgba(245, 245, 220, 0.13);
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes flipOutY {
 0% {
    transform: rotateY(180deg);
    opacity: 1;
 }
 100% {
    transform: rotateY(360deg);
    opacity: 1;
 }
}