@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Roboto;
}


body{
  background-color: #0f222b;
}

button {
  display: block;
  width: 250px;
  height: 50px;
  font-size: 20px;
  margin: 5px !important;
  border: 1px solid #69ca62;
  color: #69ca62;
  background-color: transparent;
}